/*** reset css ****/

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	
	
}

body
{
	font-family: 'Noto Serif', sans-serif;
	font-size: 17px;
	color: #333;
	line-height: 1.5;
	overflow-x: hidden;
}

.loader
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	display: flex;
	align-items:center;
	justify-content:center;
}

.animation
{
	opacity: 0;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    }

p
{
	line-height: 2;
}

a:hover
{
	text-decoration: none;
}

.col-lg-5 h3
{
	color: #000;
	font-size: 36px;
	
	font-family: 'Playfair Display', serif;
}

.proff h2 {
	color: #c5734e;
	font-family: 'Domine', serif;
	font-size: 30px;
}
.col-lg-6 h3
{
	color: #000;
	font-size: 36px;
	
	font-family: 'Domine', serif;
}


.scissors h5 {
	color: #c5734e;
	font-size: 22px;
	font-family: 'Domine', serif;
	
}
h5
{
	color: #c5734e;
	font-size: 22px;
	font-family: 'Domine', serif;
	
	
}
.mb-5 p {
	font-family: 'Noto Serif', serif;
	font-size: 10px;
}
.lead p {
	font-family: 'Noto Serif', serif;
	font-size: 10px;
	color: #000;
}

h1,h2,,h4,,h6
{
	font-weight: bold;
	color: #333;
}

.section-padding
{
	padding: 120px 0;
}

.full-width
{
	width: 100%;
}

.primary
{
	color: #e84118;
}

a, a:hover
{
	color: #fff;
}

.svg-bottom
{
	position: absolute;
	width: 100%;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.svg-top
{
	position: absolute;
	width: 100%;
	top: -1px;
	left: 0;
	z-index: 2;
}

.overlay
{
	background-color: rgba(0,0,0,0.8);
}

/*** header styles ***/

header
{
	//background-color: #333;
	position: fixed;
	z-index: 100;
	width: 100%;
}

a.navbar-brand
{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Crete Round', serif;
}
.sp {
	color: #c5734e;
}

.navbar
{
	padding: 25px 0;
}

nav a,nav a:hover
{
	color: #fff;
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

li.nav-item a.nav-link
{
	position: relative;
	display: inline-block;
}

/*
li.nav-item a.nav-link::after
{
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0%;
	height: 2px;
	background-color: #c5734e;
	content: '';
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

li.nav-item.active a.nav-link::after
{
	width: 100%;

	
}

li.nav-item a.nav-link:hover::after
{
	width: 100%;
	
}*/

.type h1 {
	color: #c5734e;
	font-size: 70px;
	font-family: 'Domine', serif;

}
li.nav-item a.nav-link:hover{
	color: #c5734e;
}
li.nav-item.active a.nav-link
{
	color: #c5734e;
	width: 100%;

	
}

.navbar-expand-lg .navbar-nav .nav-link
{
	padding: 0;
}

li.nav-item
{
	margin: 0 15px;
}

li.nav-item:last-child
{
	margin-right: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

button:focus
{
	outline: none;
}


/*** main css styles ***/

.dos-wrap .photo {
	display: block;
	width: 50%;
}

.dos-wrap img{
	width: 100% !important;
	
}

.dos-wrap .text {
	background: #000;
	position: relative;
	width: 50%;
	margin: 0;

}
.p-4 {
	padding: 1.5rem !important;
}
.photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}
.text p {
	
	font-family: 'Noto Serif', serif;
	color: #b0b0b0;
}
.text h3 {
	font-size: 22px;
	
	font-family: 'Playfair Display', serif;
	color: #c5734e;
}

.newsp a {
	color: #fff;
}

.newsp:hover a {
	color: #c5734e;
}
.newsp1 a {
	color: #fff;
}

.newsp1:hover a {
	color: #000;
}
.newsp2 a {
	color: #c5734e;
}

.newsp2:hover a {
	color: #000;
}
.main
{
	width: 100%;
	height: 100vh;
	background:url(../img/abmain1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	position: relative;
}
.main4
{
	width: 100%;
	height: 100%;
	background:url(../img/abmain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	position: relative;
}
.main4::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.main1
{
	width: 100%;
	height: 100vh;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #000;
	text-align: center;
	position: relative;
}
#main2
{
	width: 100%;
	height: 100vh;
	background:url(../img/abbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	position: relative;
}

.main::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}

.main-content
{
	z-index: 1;
}

.main-content .welcome
{
	font-family: 'Domine', serif;

	font-size: 20px;

}

.main-content .welcome1
{
	font-family: 'Domine', serif;
	font-size: 40px;
	color: #c5734e;
	

}

.main-content .type
{
	font-size: 100px;
	margin-top: 20px;
}

.main-content .social-icons
{
	margin-top: 20px;
}

.main-content .social-icons a
{
	padding: 0 10px;
	color: #fff;
}

.main-content .social-icons a:hover
{
	color: #ea2340;
}

.social-icons3 a {
	padding: 0 10px;
	color: #c5734e;
}
.social-icons3 a:hover {
	color: #212112;
}

.cta
{
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px 60px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-top: 40px;
	position: relative;
	
	overflow: hidden;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.cta-portfolio
{
	/*background-color: #ea2340;*/
	border: 1px solid #C49B63;
}

.cta-portfolio::before
{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #c5734e;
	content:'';
	z-index: -1;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}


.cta-portfolio:hover
{
	border-color: #fff;

}

.cta-portfolio:hover::before
{
	right: 100%;
}


.cta-port
{
	/*background-color: #c5734e;*/
	border: 1px solid #c5734e;
	color: #c5734e;
}

.cta-port::before
{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	content:'';
	z-index: -1;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}


.cta-port:hover
{
	border-color: #c5734e;
	background-color: #c5734e;
	color: #fff;

}

.cta-port:hover::before
{
	right: 100%;
	border-color: #c5734e;
	background-color: #c5734e;
	color: #fff;
}


.cta-contact
{
	border: 1px solid #fff;
}

.cta-contact::after
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	content: '';
	background-color: #e84118;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: -1;
}

.cta-contact:hover::after
{
	left: 0;
}

.cta-contact:hover
{
	border-color: #e84118;
}



canvas
{
	display: block;
}


#myparticles
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	//background-color: rgba(0,0,0,0,7);
}

.type {
	font-family: 'Playfair Display', serif;
}
.type .mytext
{
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	color: #ea2340;
}


/************Cafe*****/

	.menu-entry {
  margin-bottom: 30px; }

  .welcome1 h3 {
  	font-family: 'Domine', serif;
	font-size: 40px;
	color: #c5734e;
  }
  .menu-entry .img {
    display: block;
    height: 200px; }

    .menu-entry .text h3 a {
      color: #fff; }
  .menu-entry .text .price span {
    color: #fff;
    font-size: 18px; }
 .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


  
  .menu-entry .text h3 {
    font-size: 18px;
    text-transform: uppercase; }


/************About Owner*****/
   .ftco-about .one-half {
  width: 100%;
  padding: 30px 15px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .ftco-about .one-half {
      padding: 8% 13% 8% 5%;
      width: 50%; } }
  .ftco-about .one-half.img {
    display: block; }
    @media (max-width: 767.98px) {
      .ftco-about .one-half.img {
        height: 300px; } }
  @media (min-width: 768px) {
    .ftco-about .one-half .overlap {
      margin-left: -150px;
      padding: 40px;
      background: rgba(197, 115, 78, 0.9); } }




/********Plan**********/


.pricing-entry {
	width: 100%;
	display: block;
	margin-bottom: 30px;
}

.pricing-entry .text {
	width: 100%;
	display: block;
	position: relative;
	z-index: 0;
}

.pricing-entry .text h3 {
	width: calc(100% - 80px);
	font-size: 18px;
	margin-bottom: 0.5rem;
}

.pricing-entry .text h3 span {
	padding-right: 20px;
}

.pricing-entry
.text:after {
	position: absolute;
	bottom: 35%;
	left: 120px;
	right: 50px;
	content: '';
	width: 45%;
	height: 1px;
	border-bottom: 3px dotted #ea2340;
	z-index: -1;
}
.price span{
	width: 80px;
	color: #000;
	font-weight: bold;
	text-align: right;
	font-size: 16px;
}
/** about styles **/



.about img
{
	width: 100%;
}

.about h3
{
	margin-bottom: 15px;
	font-family: 'Domine', serif;
	font-size: 37px;
	
}
.about h5
{
	margin-bottom: 20px;
}

.about-social-icons
{
	margin-top: 35px;
}

.about-social-icons a
{
	color: #333;
	margin:0 10px;
}

.about-contact
{
	padding: 10px 60px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	color: #c5734e;
	border: 1px solid #c5734e;
	margin-top: 40px;
	position: relative;
	overflow: hidden;
	
	
}

.about-contact::after
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	content: '';
	background-color: #c5734e;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: -1;
}

.about-contact:hover::after
{
	left: 0;
}

/** exp-skills styles **/

.exp-skills
{
	background:url(img/about-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: #ddd;
}

.exp-skills::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,98,102,0.9);
}

.exp-skills .section-header
{
	width: 100%;
	position: relative;
}

.exp-skills .section-header::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 3px;
	background-color: #fff;
}


.exp-skills h3,.exp-skills h5
{
	color: #fff;
}

.exp-skills h3
{
	position: relative;
	display: inline-block;
}

.exp-skills h3::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	left: 0;
	bottom: -5px;
	background-color: #e84118;
}

.exp-skills h5
{
	margin-top: 30px;
}

.exp-skills ul
{
	list-style: none;
}

.exp-skills h6
{
	color: #ddd;
}


.skills h6
{
	margin:30px 0;
}
.progress-content
{
	width: 100%;
	height: 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius:20px;
}

.skill-progress
{
	height: 100%;
	background-color: #e84118;
	width: 1%;
	border-radius: 20px;
	position: relative;
}

.skill-progress::before
{
	position: absolute;
	top: -40px;
	right: -7px;
	content: attr(data-progress);
	color: #333;
	background-color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 10px;
}

.skill-progress::after
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -15px;
	right: 0px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top:6px solid #fff;
}


/*** service styles ***/

.section-header h3 {
	color: #000;
	font-size: 40px;
	
	font-family: 'Playfair Display', serif;
}
.services-content
{
	margin-top: 60px;
}

.service-single .service-name
{
	margin:30px 0;
	
}



.service-icon
{
	width: 60%;
	height: 60%;
	line-height: 60px;
	color: #fff;
	
	border-radius: 10%;
}
.service-icon img {
	border-radius: 10%;
	width: 35%;
	height: 35%;
}

.service-icon1
{
	width: 60%;
	height: 60%;
	line-height: 60px;
	color: #fff;
	
	border-radius: 50%;
}
.service-icon1 img {
	border-radius: 60%;
	width: 80%;
	height: 40%;
}

.service-icon .fa
{
	transform:scale(1)rotateY(0deg);
	transition:all 0.5s ease;
}

.service-single
{
	/*border: 1px solid #ddd;*/
	padding: 30px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.2);*/
	transition: all 0.5s ease;
}

.service-single1
{
	border: 1px solid #ddd;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: all 0.5s ease;
}

.services-content .row:nth-child(2)
{
	margin-top: 60px;
}

/*
.service-single:hover
{
	background-color: #fafafa;
	color: #ddd;
}

.service-single:hover h5
{
	color: #fff;
}
*/
.service-single:hover .service-icon
{
	color: #000;
	
}

.service-single:hover img
{
	transform:scale(1.3)rotateY(180deg);
}

/** portfolio styles **/

.portfolio
{
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.portfolio::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.portfolio h3
{
	color: #000;
}

.portfolio-item
{
	margin: 5px 0;
	overflow: hidden;
}

.item-content
{
	width: 100%;
	position: relative;
	border: 3px solid #fff;
	overflow: hidden;
}

.item-content img
{
	width: 100%;
	transition: all 0.5s ease;
	transform:scale(1)rotate(0deg);
}

.portfolio-item.col-md-3 img
{
	height: 200px;
}

.portfolio-item.col-md-6 img
{
	height: 400px;
}

.img-overlay
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	//background-color: #fff;
	//color: #333;
	content: '';
	overflow: hidden;
}

.img-overlay::before
{
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	content: '';
	left: -110%;
	top: 0;
	transition:all 0.5s ease;
}

.img-overlay::after
{
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: rgba(234, 35, 64,0.8);
	content: '';
	right: -110%;
	bottom: 0;
	transition:all 0.5s ease;
}

.portfolio-item .info
{
	z-index: 2;
	position: relative;
	font-weight: bold;
}

.portfolio-item .info .description
{
	color: #ea2340;
	opacity: 0;
	top: -20px;
	position: relative;
	transition:all 0.5s ease;
}

.portfolio-item .info .item-icon
{
	color: #fff;
	opacity: 0;
	bottom: -20px;
	position: relative;
	transition:all 0.5s ease;
}



.portfolio-item:hover .item-content .img-overlay::before
{
	left: 0;
}

.portfolio-item:hover .img-overlay::after
{
	right: 0;
}

.portfolio-item:hover .info .item-icon
{
	opacity: 1;
	bottom: -5px;
}

.portfolio-item:hover .info .description
{
	opacity: 1;
	top: -5px;
}

.portfolio-item:hover .item-content img
{
	transform:scale(1.2)rotate(10deg);
}

ul.filter
{
	list-style: none;
	margin: 60px 0;
}

ul.filter li
{
	display: inline-block;
	padding:3px 10px;
	color: #fff;
	background-color: #333;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	margin:0 10px;
	cursor: pointer;
}

ul.filter li.filter-active
{
	background-color: #ea2340;
}

.portfolio .section-header
{
	z-index: 2;
}

.portfolio ul.filter
{
	z-index: 2;
}

/** testimonials styling **/

.testimonials
{
	background:url(img/main3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	color: #ddd;
}

.testimonials::before
{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 0;
}

.testimonials .section-header,.testimonials .testimonial-container
{
	z-index: 1;
}

.testimonials h3
{
	color: #fff;
}

.testimonial-container
{
	margin-top: 60px;
}

.testi-img
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	padding: 5px;
	border: 1px solid #ddd;
	margin: 0 auto;
}

.testi-img img
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #fff;
}

.testi-name
{
	margin-top: 30px;
	
	font-size: 30px;
	color: #ea2340;
	font-family: 'Playfair Display', serif;
}

.testimonial-item-content .position
{
	font-weight: bold;
}

.testimonial-content
{
	margin-top: 30px;
	font-style: italic;
}

.owl-carousel button.owl-dot
{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin:0 5px;
	background-color: #fff;
}

.owl-carousel button.owl-dot.active
{
	background-color: #c5734e;
}

.quote .fa
{
	font-size: 30px;
	color: #c5734e;
}

/** blog styles **/

.blog .section-header
{
	margin-bottom: 60px;
}

.post-image
{
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.post-image img
{
	width: 100%;
	height: 100%;
	transform:scale(1);
	transition:all 0.5s ease;
}

.post-image .post-category
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	background-color: #e84118;
	padding: 5px 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 20px;
}

.post-name
{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.post-content
{
	margin-top: 20px;
	padding-top: 0;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.author-name
{
	font-weight: bold;
	color: #c5734e;
	margin-right: 20px;
}

.post-date
{
	color: #333;
	font-weight: bold;
	margin-left: 20px;
}

.post-details
{
	padding-left: 20px;
}

.post-inner
{
	
}

.blog-content:hover .post-image img
{
	transform:scale(1.2);
}

/** contact styles **/

.contact
{
	position: relative;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #000;
}

.contact h3
{
	color: #000;
}

.contact::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.contact-top, .contact-form
{
	margin-top: 60px;
}

.contact-location,.contact-email,.contact-phone
{
	font-weight: bold;
	color: #000;
}

input,textarea
{
	width: 100%;
	background-color: rgba(0,0,0,0);
	color: #000;
	border: 1px solid #000;
	margin-bottom: 40px;
}

input:not([type="submit"])
{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

textarea
{
	padding-top: 10px;
	padding-left: 20px;
}

#submit
{
	width: auto;
	margin: 0 auto;
	max-width: 50%;
	padding: 8px 60px;
	border: none;
	color: #fff;
	background-color: #ea2340;
	cursor: pointer;
	border-radius: 15px;
}

.contact i.fa
{
	margin-right: 15px;
	color: #ea2340;
	font-size: 25px;
}

footer
{
	position: relative;
    background-image: url(img/main3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	
}
.site-footer::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.list-unstyled li {
	padding-bottom: 10px;
}
.list-unstyled li a {
	color: #fff;
}

.list-unstyled li a:hover {
	color: #ea2340;
}
.btn {
	background-color: #ea2340;
	color: #fff;
	border-color: #ea2340;
}
.btn:hover {
	background-color: #fff;
	color: #ea2340;
	border-color: #fff;
}

